<div class="container-fluid">
  <h1>About us</h1>
  <div class="text-box">
    <h4>Us</h4>
    <p>We are three students from Norway studying Computer Science at the Norwegian University of Science and Technology. We are on our third year of our bachelor taking
    the subject <a href="http://www.ntnu.edu/studies/courses/IT2805#tab=omEmnet">Webtechnologies</a>. This website was made as a part of a project in this subject. </p>
  </div>
  <div class="text-box">
    <h4>The Site</h4>
    <p>The idea of the site was basically to take a popular concept and mixing it with something seen in a movie. The concept being voting for images, in the same way you do on imgur
    or reddit, where you give images vote, and mixing it with the idea of how facebook was at the start as seen in the movie The Social Network. Basically, take two images randomly
    from the database, pit them up against each other, and let the users vote on an image. </p>
    <p>The concept is simple enough and hopefully it brings enough entertainment that people will continue to use the site and bring the best rating to the different images.
    We hope the top lists will change dynamically.</p>
  </div>
</div>
