<div class="container-fluid">
  <h1>FAQ</h1>

  <div class="text-box">
  <h4>Q: Where did you get your images from?</h4>
  <p>A: We used a script to grab image links from imgur, then html does all the magic of display the images from the links.</p>
  </div>
  <div class="text-box">
  <h4>Q: What is the main purpose of the site?</h4>
  <p>A: Mostly just to present the same kind of entertainment other sites give in a different way.</p>
  </div>
  <div class="text-box">
  <h4>Q: Can users submit their own images or create their own categories?</h4>
  <p>A: Not as of now. Considering we are only a team of 3, the workload of going through user-submitted content would be too big.
  This is mostly due to how we would have to control the content, either by going through all the submitted images or monitor the content.</p>
  </div>
  <div class="text-box">
  <h4>Q: How do you pick the images to go up against each other?</h4>
  <p>A: As of now we have a system the picks two random images from the image database, regardless of categories.</p>
  </div>
  <div class="text-box">
  <h4>Q: How does voting work?</h4>
  <p>A: You simply click the image you want when they're compared and the selected image gets an "upvote", thus making it rise in the rankings.</p>
  </div>
  <div class="text-box">
  <h4>Q: How does your ranking system work?</h4>
  <p>The ranking system is based on how many votes each image has. The top lists you can find, eg. top 5, top 25 and top 50,
    all give a list without thinking about what category each image belongs to. Basically an all image wide top-list.</p>
  </div>
  <br />

  <h4>Didn't find your answer?</h4>
  <p>Contagt us at... we don't have a contact mail yet.</p>

</div>
