<h1>Listing images</h1>

<h3><%= link_to("Compare images", compare_path) %></h3>
<h3><%= link_to("Top 5", top_images_path(top: 5)) %></h3>
<h3><%= link_to("Top 25", top_images_path(top: 25)) %></h3>
<h3><%= link_to("Top 50", top_images_path(top: 50)) %></h3>

