<div class="container-fluid">
  <% @images.each do |image| %>
    <div class="row">
      <div>
        <h2><%= image.title %></h2>
        <%= image_tag(image.url, :class => "img-responsive") %> 
      </div>
    </div>
  <% end %>
</div>