<div class="container-fluid">
  <div class="top-container">
    <% @images.each do |image| %>
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <h2> Title: <%= image.title %></h2>
            <div class="fav-image-div">
              <%= image_tag(image.url, :class => "img-responsive") %>
              <!-- favorite button-->
              <button class="btn btn-lg fav-image-button"> 
                <span class="fav-image-icon glyphicon glyphicon-star-empty"></span> 
              </button>
              <!-- fav end -->
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>